@use '../../../styles/global' as *;

.header-logo {
  @include themeLogoSrc;
  width: 200px;
  height: 150px;
  background-size: contain; // изменено с cover на contain
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.login-logo {
  @include themeLogoLogin;
  width: 210px;
  height: 112px;
  max-height: 100%;
  background-size: contain; // изменено с cover на contain
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
