@use '../../../styles/global' as *;

.sort-filter {
  &__arrow-icon {
    @include themeSvg;
    transition: transform 0.3s linear;

    &--active {
      transform: rotateX(180deg);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
  }

  &__header {
    border: none;
    background-color: transparent;
    margin: 0 auto 1.4em;
    width: max-content;
    @include themeText;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: normal;

    @include mediaMin($device-M) {
      margin-left: 0;
    }
  }

  &__content {
    @include flex($dir: column, $align: flex-start, $gap: 5px);
  }

  &__sort {
    @include flex($gap: 0.5em);
    @include themeText;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;

    &:has(input:checked) {
      & > span {
        background: radial-gradient(6px 6px at center, #7a5af8 70%, white 30%);
      }
    }

    &:has(input:active) {
      & > span {
        box-shadow: 0px 0px 0px 4px #e4defe;
      }
    }
  }

  &__radio-btn {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    border: 1px solid $main-color;
    border-radius: 100px;
    transition: all 0.4s;
    margin-left: 6px;
  }

  &__sort-inp {
    display: none;
  }
}
