@use '../../../styles/global' as *;

.filter {
  &__button {
    @include flex($gap: 0.3em);
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 0.86rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto 2em;
  }

  &__arrow-icon {
    @include themeSvg;
    transition: transform 0.3s linear;

    &--active {
      transform: rotateX(180deg);
    }
  }

  &__content {
    width: 100%;
    display: block;
    @include mediaMax($device-M) {
      justify-content: center;
    }
    @include flex($wrap: wrap, $justify: flex-start, $gap: 5px);
  }

  &__items {
    margin-bottom: 0.8em;
  }

  &__container {
    @include flex($dir: column);
  }

  &__header {
    border: none;
    background-color: transparent;
    margin: 0 auto 1.4em;
    width: max-content;
    @include themeText;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: normal;

    @include mediaMin($device-M) {
      margin-left: 0;
    }
  }

  &__item {
    display: block;
    width: max-content;
    min-width: 38px;
    padding: 0.6em 0.98em;
    color: #000;
    text-align: center;
    font-size: 0.79rem;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s;
    @include colorFilters;
  }

  &__search-field {
    display: block;
    border: none;
    border-radius: 526px;
    max-width: 290px;
    width: 100%;
    height: 35px;
    padding: 0.3em 2.8em;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: 15px;

    background-color: #fdedf8;
    color: #ee46bc;
    @include focus($outline: 1px solid rgb(97, 97, 97));

    &::placeholder {
      background-color: #fdedf8;
      color: #f8b5e4;
      font-size: 0.86rem;
      font-weight: 600;
      line-height: 15px;
    }
  }

  &__search-label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 1.1em;

    &::before {
      content: url('../../../assets/search.svg');
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
      color: #8a8a8a;
      position: absolute;
    }
  }

  &__search-label--color {
    &::before {
      content: url('../../../assets/search-pink.svg');
    }
  }

  &__sort-content {
    @include flex($dir: column, $align: flex-start, $gap: 5px);
  }

  &__sort {
    @include flex($gap: 0.5em);
    color: #000;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;

    &:has(input:checked) {
      & > span {
        background: radial-gradient(6px 6px at center, #7a5af8 70%, white 30%);
      }
    }
  }

  &__radio-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $main-color;
    border-radius: 100px;
    transition: all 0.4s;
  }

  &__sort-inp {
    display: none;
  }
}
