@use '../../../styles/global' as *;

.article {
  width: clamp(10rem, 13vw + 7.029rem, 24.857rem);
  border-radius: 10px;
  padding: 1.1em 1.5em 0.8em 1.1em;
  @include themeSectionBackground;
  @include flex($dir: column, $justify: space-between);
  height: clamp(7.143rem, 18.125vw + 3rem, 27.857rem);
  @media (min-width: 993px) {
    height: 300px;
  }
  scroll-snap-align: start;

  @include mediaMin($size: $device-M) {
    padding: 2.7em 3.5em 3em;
  }

  &__container-text {
    align-self: flex-start;
    height: auto;
  }

  &__header {
    align-self: flex-start;
    font-size: clamp(0.786rem, 0.813vw + 0.6rem, 1.714rem);
    font-weight: 500;
    line-height: normal;
    @include themeText;
    margin-bottom: clamp(0.214rem, 0.563vw + 0.086rem, 0.857rem);
  }

  &__short {
    align-self: flex-start;
    max-width: 100%;
    font-size: clamp(0.571rem, 0.5vw + 0.457rem, 1.143rem);
    font-weight: 500;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    @include themeText;
  }

  @media (min-width: 993px) {
    &__img {
      width: 100%;
      background-color: #d9d9d9;
      height: 35%;
      border-radius: 10px;
      display: block;
      margin-top: auto;
      margin-bottom: 10px;
    }
  }
  &__link {
    width: clamp(7.143rem, 9.375vw + 5rem, 17.857rem);
    text-align: center;
    @include flex;
    height: 20%;
    padding: 0.5em 0.4em;
    border: 0.89px solid #7a5af8;
    color: $primary-color;
    border-radius: 562px;
    text-decoration: none;
    font-size: clamp(0.714rem, 0.625vw + 0.571rem, 1.429rem);
    font-weight: 500;
    line-height: normal;
  }
}
