@use '../../../../styles/global' as *;

.comments {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;

  &__content-body {
    display: flex;
    gap: 6px;
  }

  &__reply {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
  }

  &__avatar {
    background: #e8e8e8;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  &__user-name {
    @include themeText;

    font-weight: 600;
    font-size: 0.8rem;
    line-height: normal;
    margin-bottom: 0.3em;
  }

  &__text {
    @include themeText;
    margin-bottom: 0.3em;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
  }

  &__text-reply {
    color: #7a5af8;
  }

  &__third-string {
    @include flex($gap: 0.4rem, $justify: flex-start);
    padding: 0.2rem 0;
  }

  &__date {
    @include themeDateText;
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 0.5rem;
  }

  &__button {
    @include themeText;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 0;
  }

  &__like {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg {
      stroke: red;
      transition: stroke 0.2s ease;
    }
  }

  &__button-review {
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.6rem;
    color: #7a5af8;
    background: transparent;
    border: none;
    margin-left: 25px;
    margin-bottom: 1.2rem;
  }
}
