@use '../../styles/global' as *;

.comics {
  overflow-y: scroll;
  width: 100vw;
  height: 100dvh;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.comics-pc {
  overflow-y: scroll;
  width: 70%;
  height: 100%;
  scroll-snap-type: y mandatory;
  margin-left: auto;
  margin-right: auto;
  @include themeSectionBackground;
  margin-top: 65px;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &__page {
    height: 100%;
  }

  &__slideText {
    font-size: 18px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__slideView {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  &__slidePage {
    font-size: 24px;
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  &__button {
    text-align: center;
    position: fixed;
    right: 17%;
    top: 50%;
    width: 25px;
    z-index: 9999;
  }

  &__pages {
    position: relative;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &--back,
    &--next {
      top: 5px;
      position: absolute;
      width: 50%;
      height: 100%;
      z-index: 1;
    }

    &--back {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }
}

.buttons__item {
  background: transparent;
  padding: 0;
  border: none;
}
