@use '../../../styles/global' as *;

.title {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 15px;
  @include flex($dir: column, $gap: 0.4em, $align: flex-start);
  margin-bottom: 2em;
  @include themeText;

  &__input {
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    border-radius: 562px;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }
  }
}

.description {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 15px;
  @include flex($dir: column, $gap: 0.4em, $align: flex-start);
  margin-bottom: 2em;
  @include themeText;

  &__input {
    resize: none;
    width: 100%;
    min-height: 150px;
    @include focus($outline: 1px solid #807d7d);
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 15px;
    border: none;
    padding: 0.5em 1em;
    color: black;
    background-color: #f2effe;
    text-align: left;
    border-radius: 10px;

    &::placeholder {
      color: #cabdfc;
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 15px;
    }
  }
}

.cover {
  @include clickableElement;
  @include flex;
  background-color: white;
  border: 1px solid $main-color;
  min-width: 83px;
  border-radius: 10px;
}

.banner {
  @include flex;
  @include clickableElement;
  @include themeSectionBackground;
  border: 1px solid $main-color;
  min-height: 109px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3.5em;
}

.cover-img {
  display: inline-block;
  height: 101px;
  position: relative;
  border: 1px solid $main-color;
  border-radius: 10px;

  &::after {
    content: 'Обложка';
    position: absolute;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 13px;
    color: $main-color;
  }

  &__item {
    max-width: 83px;

    max-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;

    & > img {
      height: 100%;
    }
  }
}

.imgs {
  @include flex($wrap: wrap, $align: stretch, $justify: stretch, $gap: 0.8rem);
  margin-bottom: 2em;
}

.text-label {
  @include themeText;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 15px;
  margin-bottom: 0.4em;
}

.next-btn {
  @include clickableElement;
  display: block;
  border: none;
  background: $main-color;
  color: white;
  font-weight: 500;
  font-size: 0.78rem;
  line-height: 13px;
  border-radius: 249px;
  padding: 0.2em 2.2em;
  min-height: 25px;
  min-width: 90px;
  margin: 0 auto;

  &:disabled {
    background: rgba($main-color, 0.6);
  }
}

.banner-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.error {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2em;
  color: red;
}

.modal {
  @include flex($align: end);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999;

  @include mediaMin($device-PC) {
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__content {
    @include themeBadge;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 505px;
    max-height: 505px;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-items: center;
    overflow: auto;

    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    @include themeText;

    &--span {
      color: #7a5af8;
    }
  }

  &__add {
    margin-top: 20px;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;

    @include mediaMin($size: $device-M) {
      flex-direction: row;
    }

    align-items: center;
    gap: 10px;

    &--button {
      @include clickableElement;
      color: #7a5af8;
      border: #7a5af8 solid 2px;
      border-radius: 999px;
      border-width: 1px;
      padding: 5px 21px;
      font-weight: 500;
      font-size: 14px;
    }

    &--text {
      font-weight: 500;
      font-size: 14px;
      color: #818181;
      margin-bottom: 1em;
    }
  }

  &__preview {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    &--photo {
      max-width: 100%;
      // Fix for the cropper to display properly on mobile
      max-height: 50vh !important;
      width: 100% !important;

      :global(.reactEasyCrop_Container) {
        width: 100% !important;
        height: auto !important;
        position: relative !important;
      }
    }
  }

  &__confirm {
    @include clickableElement;
    margin: auto;
    width: max-content;
    color: #fff;
    background-color: #7a5af8;
    border-radius: 999px;
    border: 0;
    padding: 5px 31px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}

.view {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__add-btn {
    background-color: #7a5af8;
    font-size: 0.79rem;
    font-weight: 500;
    padding: 0.7em 2.1em;
    color: white;
    border-radius: 250px;
    text-decoration: none;
    text-align: center;
  }
}

.done {
  background-color: #7a5af8;
  font-size: 0.79rem;
  font-weight: 500;
  padding: 0.7em 4.1em;
  color: white;
  border-radius: 250px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.viewDone {
  display: flex;
  justify-content: center;
}
