@use '../../styles/global' as *;

.balance {
  margin-bottom: 1em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  background: inherit;
  border-radius: 20px;
  font-weight: 600;
  @include themeText;
  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
  }

  &__backLink-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__backLink {
    align-self: flex-start;
    margin-bottom: 0.8em;
  }

  &__backLink-count-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
  }

  &__backLink-count {
    font-size: 0.86rem;
    color: $main-color;
    font-weight: 600;
    line-height: 15px;
    margin-right: 5px;
  }

  &__backLink-count-icon {
    width: 7px;
    height: 7px;
  }

  &__count {
    font-size: 1.3rem;
    color: $main-color;
    margin-right: 5px;
  }

  &__count-icon {
    width: 13px;
    height: 13px;
  }

  &__count-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  &__h1 {
    text-align: center;
    font-size: 1.4rem;
  }

  &__h3 {
    text-align: center;
    font-size: 0.86rem;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
.cards {
  @include themeText;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); // Увеличил минимальную ширину
  grid-auto-rows: 1fr; // Одинаковая высота строк
  margin-bottom: 20px;

  &__subscribe {
    @include themeSectionBackground;
    padding: 15px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 230px;
    max-width: 200px;
    width: 100%;
  }

  &__content {
    flex: 1; // Растягивается на всё доступное пространство
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-weight: 600;
    font-size: clamp(18px, 2vw, 20px); // Адаптивный размер
    text-align: center;
    color: $main-color;
    margin-right: 0.5rem;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(10px, 1.5vw, 12px); // Адаптивный размер
    margin-bottom: 8px;
  }

  &__text {
    color: #818181;
    font-weight: 500;
    font-size: clamp(7px, 1.2vw, 8px); // Адаптивный размер
    flex: 1; // Равномерное распределение пространства
  }

  &__button {
    background-color: $main-color;
    color: white;
    font-weight: 600;
    font-size: clamp(9px, 1.3vw, 11px); // Адаптивный размер
    border-radius: 250px;
    border: none;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: auto; // Прижимаем кнопку к низу
    align-self: center;
    width: max-content;
    min-height: 32px; // Минимальная высота кнопки
    white-space: nowrap; // Запрет переноса текста
  }
}
.subscription-link {
  @include themeText;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  &__rule {
    text-decoration: none;
    color: $main-color;
  }
}

.active-subscription {
  text-align: center;
}
