@use '../../../styles/global' as *;

.avatar {
  object-fit: cover;
  width: 35px;
  height: 35px;
  @include themeAvatar;
  border-radius: 30px;
  max-width: none;

  @include mediaMin($device-L) {
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}

.loader {
  width: 35px;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 30px;
  animation: loading 1.5s ease-in-out infinite;
  position: relative;

  @include mediaMin($device-L) {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  &__round {
    position: absolute;
    top: 0;
    display: block;
    background-color: $main-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    @include mediaMin($device-L) {
      top: 10px;
    }
  }

  @keyframes loading {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/* Fallback avatar with initial */
.fallback {
  @include themeAvatar;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  @include themeBackground;
  @include themeText;
  font-weight: 700;
  user-select: none;

  @include mediaMin($device-L) {
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}

.fallback__letter {
  font-size: 16px;
  line-height: 1;

  @include mediaMin($device-L) {
    font-size: 28px;
  }
}
