@use '../../styles/global' as *;

.tom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 18fr;
  gap: 0.35em;
  justify-items: start;
  align-items: center;
  padding-left: 0.71em;
  padding-right: 0.71em;
  min-height: 35px;
  border-bottom: 1px solid #4d37a5;

  &__show-btn {
    @include clickableElement;
    display: flex;
    border: none;
    background: transparent;
    padding: 0;
    transform: rotate(0deg);
    transition: all 0.3s;

    &--active {
      transform: rotate(-180deg);
    }
  }

  &__edit-btn,
  &__add-btn {
    @include clickableElement;
    justify-self: end;
    display: flex;
    width: 14px;
    height: 14px;
    border: none;
    background: transparent;
    padding: 0;
  }

  &__title {
    display: block;
    max-width: 60px;
    text-overflow: ellipsis;
    padding: 0;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 0.86rem;
    line-height: 15px;
    @include themeText;
    @include focus;
  }
}
