@mixin flex($gap: 0, $justify: center, $align: center, $dir: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin themeBackground {
  background: var(--background-color);
  transition: background-color 0.5s ease-out;
}

@mixin themeText {
  color: var(--text-color);
  transition: color 0.5s ease-out;
}

@mixin themeDateText {
  color: var(--date-color);
  transition: color 0.5s ease-out;
}

@mixin themeSectionBackground {
  background: var(--section-background-color);
  transition: background-color 0.5s ease-out;
}

@mixin themeSideBarBackground {
  background: var(--sidebar-background-color);
  transition: background-color 0.5s ease-out;
}

@mixin themeInputFilter {
  background: var(--input-theme);
  transition: background-color 0.5s ease-out;
}

@mixin themeSideBarLine {
  background: var(--sidebar-line);
  transition: background-color 0.3s ease-out;
}

@mixin themeArrowLink {
  color: var(--arrow-link);
  transition: background-color 0.5s ease-out;

  & path {
    transition: fill 0.5s ease-out;
    fill: var(--arrow-link);
  }
}

@mixin themeBadge {
  color: var(--badge-color);
  background-color: var(--badge-background);
  transition: all 0.5s ease-out;
}

@mixin themeAvatar {
  border: 1px solid var(--avatar-border-color);
  transition: all 0.2s ease-out;
}

@mixin themeAvatarBorder {
  border: 3px solid var(--section-background-color);
  transition: all 0.2s ease-out;
}

@mixin themeSvg {
  margin-left: 4px;
  fill: var(--svg-color);
  transition: fill 0.3s ease-out;
}

@mixin themeFooterIcons {
  & path {
    fill: var(--footer-icons);
  }

  transition: fill 0.3s ease-out;
}

@mixin themeBurgerMenu {
  & > * {
    stroke: var(--burger-menu) !important;
    transition: fill 0.3s ease-out;
  }
}

@mixin themeTabText {
  color: var(--theme-tab-text);
  transition: color 0.5s ease-out;
}

@mixin themeInput {
  color: var(--text-color);
  background-color: var(--theme-input-background);
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;
}

@mixin themeInputBackground {
  background: var(--input-background-color);
  transition: background-color 0.3s ease-out;
}

@mixin themeInputPlaceholder {
  color: var(--input-placeholder-color);
  transition: color 0.3s ease-out;
}

@mixin themeLogoSrc {
  background-image: var(--logo-src);
  transition: background-image 0.3s ease-out;
}

@mixin themeBackgroundBlogSrc {
  background-image: var(--background-blog);
  transition: background-image 0.3s ease-out;
}

@mixin themeLogoLogin {
  background-image: var(--logo-login);
  transition: background-image 0.3s ease-out;
}

@mixin themeAuthButton {
  background-color: #7a5af8;
  color: white;
}

@mixin focus($outline: none) {
  &:focus {
    outline: $outline;
  }

  &:focus-visible {
    @content;
  }
}

@mixin mediaMin($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin mediaMax($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin clickableElement {
  @media (min-width: 1024px) {
    cursor: pointer;
  }
}

@mixin filterNames {
  &--genres {
    background: #82bcfc;
  }

  &--tags {
    background: #f590d7;
  }

  &--viewcounts {
    background: #af9cfb;
  }

  &--rating {
    background: #7a5af8;
  }

  &--status {
    background: #4d37a5;
  }

  &--naprav {
    background: #2e90fa;
  }

  &--size {
    background: #2573c8;
  }

  &--theme {
    background: #af9cfb;
  }

  &--author {
    background: #7a5af8;
  }

  &--violet {
    background: #7a5af8;
  }
}

@mixin colorFilters {
  &--genres {
    &:has(input:checked) {
      color: #fff;
      background: #82bcfc;
    }

    @include mediaMin(768px) {
      border: 2px solid #82bcfc;
      border-radius: 562px;
      color: #82bcfc;
    }
  }

  &--tags {
    &:has(input:checked) {
      color: #fff;
      background: #f590d7;
    }

    @include mediaMin(768px) {
      border: 2px solid #f590d7;
      border-radius: 562px;
      color: #f590d7;
    }
  }

  &--viewcounts {
    &:has(input:checked) {
      color: #fff;
      background: #af9cfb;
    }

    @include mediaMin(768px) {
      border: 2px solid #af9cfb;
      border-radius: 562px;
      color: #af9cfb;
    }
  }

  &--rating {
    &:has(input:checked) {
      color: #fff;
      background: #7a5af8;
    }

    @include mediaMin(768px) {
      border: 2px solid #7a5af8;
      border-radius: 562px;
      color: #7a5af8;
    }
  }

  &--status {
    &:has(input:checked) {
      color: #fff;
      background: #4d37a5;
    }

    @include mediaMin(768px) {
      border: 2px solid #4d37a5;
      border-radius: 562px;
      color: #4d37a5;
    }
  }

  &--naprav {
    &:has(input:checked) {
      color: #fff;
      background: #2e90fa;
    }

    @include mediaMin(768px) {
      border: 2px solid #2e90fa;
      border-radius: 562px;
      color: #2e90fa;
    }
  }

  &--size {
    &:has(input:checked) {
      color: #fff;
      background: #2573c8;
    }

    @include mediaMin(768px) {
      border: 2px solid #2573c8;
      border-radius: 562px;
      color: #2573c8;
    }
  }

  &--theme:has(input:checked) {
    color: #fff;
    background: #af9cfb;
  }

  &--author:has(input:checked) {
    color: #fff;
    background: #7a5af8;
  }

  &--violet:has(input:checked) {
    color: #fff;
    background: #7a5af8;
  }
}

@mixin addCursorElement($size) {
  @media (min-width: $size) {
    cursor: pointer;
  }
}

@mixin filterLine {
  background-color: var(--filter-line);
}
