@use './mixins' as *;

:root[data-theme='light'] {
  --background-color: #f6f6f6;
  --text-color: #2d283e;
  --section-background-color: #ffffff;
  --sidebar-background-color: #f6f6f6;
  --sidebar-line: #dfdfdf;
  --arrow-link: #564f70;
  --avatar-border-color: #000000;
  --badge-color: #2d283e;
  --badge-background: #ffffff;
  --svg-color: black;
  --burger-menu: rgb(100, 72, 206);
  --footer-icons: #2d283e;
  --theme-tab-text: #564f70;
  --theme-input-background: #f2effe;
  --input-background-color: #f2effe;
  --input-placeholder-color: #cabdfc;
  --logo-src: url('/logo-light-fix.png');
  --logo-login: url('/logo-light-fix.png');
  --background-blog: url('/blog-background.jpg');
  --animated-box-shadow-init: 0 4px 8px rgba(0, 0, 0, 0.1);
  --animated-box-shadow-animation: 0 8px 16px rgba(0, 0, 0, 0.2);
  --filter-line: #dfdfdf;
  --stroke-color: black;
  --date-color: #564f70;
  --input-theme: #fdedf8;
}

:root[data-theme='dark'] {
  --background-color: #2d283e;
  --text-color: #ffffff;
  --section-background-color: #322b56;
  --sidebar-background-color: #2d283e;
  --sidebar-line: #4d37a5;
  --arrow-link: #ffffff;
  --badge-color: #ffffff;
  --badge-background: #322b56;
  --avatar-border-color: #ffffff;
  --svg-color: white;
  --burger-menu: white;
  --footer-icons: #7a5af8;
  --theme-tab-text: white;
  --theme-input-background: #37257b;
  --input-background-color: #f2effe;
  --input-placeholder-color: #7a5af8;
  --logo-src: url('/logo-black-fix.png');
  --logo-login: url('/logo-black-fix.png');
  --background-blog: url('/blog-background-black.jpg');
  --animated-box-shadow-init: 0 4px 8px rgba(255, 255, 255, 0.117);
  --animated-box-shadow-animation: 0 8px 16px rgba(255, 255, 255, 0.782);
  --filter-line: #7a5af8;
  --stroke-color: white;
  --date-color: white;
  --input-theme: #661d50;
}

body {
  @include themeBackground;
}
