@use '../../../styles/global' as *;

.button {
  display: block;
  margin: 0 auto;
  font-size: clamp(1rem, 0.4rem + 0.65vw, 1.42rem);
  font-weight: 500;
  line-height: 10px;
  width: max-content;
  padding: 0.8em 2em;
  min-width: 55px;
  background: $primary-color;
  border: 1px solid transparent;
  border-radius: 562px;
  color: white;

  &__transparent {
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  @include clickableElement;
}
