@use '../../styles/global' as *;

.chapter-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 18fr;
  justify-items: start;
  align-items: center;
  column-gap: 0.35em;

  padding-left: 0.71em;
  padding-right: 0.71em;
  border-bottom: 1px solid #4d37a5;
  min-height: 35px;

  &__show-btn {
    @include clickableElement;
    display: flex;
    border: none;
    background: transparent;
    padding: 0;
    transform: rotate(0deg);
    transition: all 0.3s;

    &--active {
      transform: rotate(-180deg);
    }
  }

  &__edit-btn {
    @include clickableElement;
    display: flex;
    border: none;
    background: transparent;
    padding: 0;
  }

  &__remove-btn {
    @include clickableElement;
    justify-self: end;
    border: 0;
    padding: 0;
    background: transparent;
  }

  &__title {
    display: block;
    max-width: 60px;
    text-overflow: ellipsis;
    padding: 0;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 0.86rem;
    line-height: 15px;
    color: black;
    @include focus;
  }
}

.cover {
  @include flex;
  @include clickableElement;
  background-color: white;
  border: 1px solid $main-color;
  min-width: 83px;
  border-radius: 10px;
}

.cover-img {
  display: inline-block;
  height: 101px;
  position: relative;
  border: 1px solid $main-color;
  border-radius: 10px;

  &::after {
    content: 'Обложка';
    position: absolute;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 13px;
    color: $main-color;
  }

  &__item {
    max-width: 83px;
    max-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
  }
}

.imgs {
  padding-top: 0.78em;
  @include flex($wrap: wrap, $align: stretch, $justify: stretch, $gap: 0.8rem);
  margin-bottom: 2em;
}
