@use '../../../styles/global' as *;

.registration {
  &__container {
    padding: 60px 5em 3em;
  }

  &__inner-container {
    border-radius: 10px;
    @include themeSectionBackground;
    @include flex($dir: column);
    margin-bottom: 0.9em;
  }

  &__flex {
    @include flex($dir: column);
  }

  &__head {
    @include themeText;
    font-size: clamp(1.43rem, 1.2rem + 1vw, 3.72rem);
    font-weight: 600;
    line-height: 59px;
    text-align: center;
    margin-bottom: 0.3em;
  }

  &__backLink {
    align-self: flex-start;
    margin-bottom: 0.9em;
  }

  &__logo {
    margin-bottom: 1em;

    @include mediaMin($size: $device-XM) {
      display: none;
    }
  }

  &__with-social {
    @include themeText;
    font-size: clamp(1.429rem, 0.3vw + 1.2rem, 1.714rem);
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 0.7em;
  }

  &__social {
    margin-bottom: 0.86em;

    @include mediaMin($size: $device-XM) {
      margin-bottom: 2em;
    }
  }

  &__or {
    @include themeText;
    font-size: clamp(0.876rem, 0.8rem + 1vw, 2.15rem);
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 1.2em;
  }

  &__fieldset {
    @include flex($dir: column, $align: flex-start);
  }

  &__fieldset-password {
    @include flex($dir: column, $align: flex-start);
  }

  &__input {
    @include focus($outline: 1px solid #807d7d);
    @include themeInput;
    border: none;
    border-radius: 2em;
    padding: 0.8em 1.8em;

    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5em;
    font-size: clamp(1.429rem, 0.446vw + 1.102rem, 1.714rem);
    width: clamp(28.571rem, 10.045vw + 21.224rem, 35rem);

    &::placeholder {
      @include themeInputPlaceholder;
      font-size: 0.86em;
      font-weight: 500;
      line-height: 24px;
      font-size: clamp(1.429rem, 0.446vw + 1.102rem, 1.714rem);
    }

    &--marginNo {
      margin: 0;
    }

    &--error {
      background: #e545451a;
      color: #e54545;
    }

    &--success {
      background: #0f99181a;
      color: #0f9918;
    }
  }

  &__label {
    @include themeText;
    font-size: clamp(1.429rem, 0.446vw + 1.102rem, 1.714rem);
    margin-bottom: 0.4em;
    font-weight: 500;
    line-height: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  &__next {
    display: block;
    border: 1px solid $main-color;
    @include themeAuthButton;
    padding: 0.7rem 4.3rem;
    min-width: 190px;
    margin: 0 auto 2.4em;
    border-radius: 2em;
    font-size: 1.43rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2.3em;

    &:disabled {
      background-color: #807d7d;
      border: 1px solid rgba($color: $main-color, $alpha: 0.3);
    }
  }
  &__timer-container {
    justify-items: center;
    text-align: center;
  }
  &__timer-text {
    @include themeText;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
    padding-bottom: 1em;
    &--button {
      @include themeText;
      text-decoration: underline;
      border: none;
      background-color: transparent;
    }
  }

  &__reset-email {
    display: block;
    border: 1px solid $main-color;
    @include themeAuthButton;
    padding: 0.7rem 4.3rem;
    min-width: 190px;
    margin: 0 auto 2.4em;
    border-radius: 2em;
    font-size: 1.43rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2.3em;
  }

  &__ready {
    display: block;
    border: 1px solid $main-color;
    @include themeAuthButton;
    padding: 0.7rem 4.3rem;
    min-width: 190px;
    margin: 0 auto 2.4em;
    border-radius: 2em;
    font-size: 1.43rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
  }

  &__signin {
    @include themeText;
    font-size: 1.42rem;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
  }

  &__link {
    cursor: pointer;
    margin-left: 0.2em;
    color: $main-color;
    font-size: 1.42rem;
    font-weight: 500;
    line-height: 13px;
    text-decoration: none;
    text-align: center;
  }

  &__error {
    text-wrap: balance;
    max-width: 400px;
    margin: 0.4em 0;
    font-size: 1.4em;
    line-height: normal;
    color: red;
  }

  &__password-container {
    position: relative;
  }

  &__visibility {
    @include themeFooterIcons;
    position: absolute;
    top: 16px;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    & > svg {
      width: 30px;
      height: 30px;
    }
  }
}

.agreement {
  @include flex;
  @include themeText;
  margin-bottom: 1.2em;

  &__label {
    cursor: pointer;
    margin-right: 0.5em;
    font-weight: 500;
    font-size: 1.4rem;
    text-wrap: balance;
  }
}
