@use '../../../styles/global' as *;

.header + main {
  padding-top: 65px;

  @media (min-width: 768px) {
    padding-top: 75px;
  }
}

.header-container {
  // box-shadow: 0px 1px 2px 1px rgba($color: #000000, $alpha: .1);
  z-index: 999;
  position: fixed;

  padding-top: 0.93em;
  padding-bottom: 1em;
  @include themeBackground;

  @include flex($justify: space-between);

  max-width: calc(2560px + 2 * 0.9375em);
  margin: 0 auto;
  width: 100%;
  padding-left: 0.9375em;
  padding-right: 0.9375em;

  @include mediaMin($size: $device-M) {
    height: 120px;
    padding: 1.3em 4.5em 1.3em 4em;
  }
}

.header-buttons {
  @include flex($gap: 3.5em);
}

.nav {
  z-index: 1000;
  @include flex($gap: 2.8em);

  @include mediaMax($size: $device-M) {
    max-width: 240px;
    padding: 0.5em 1.2em 0 1.2em;
    @include flex($dir: column, $justify: flex-start, $gap: 1em, $align: flex-start);
    position: fixed;
    @include themeSideBarBackground;
    top: 0;
    left: -70%;
    width: 70vw;
    height: 100dvh;
    visibility: hidden;

    transition:
      visibility 0.45s linear,
      left 0.45s ease-out;
    box-shadow: 2px 0px 10px 7px rgba(0, 0, 0, 0.5);
  }

  &--active {
    visibility: visible;
    left: 0;
  }
}

.add-comics {
  font-weight: 600;
  text-decoration: none;
  font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
  line-height: 29px;
  color: #7a5af8;
}

.menu-link {
  @include themeText;
  text-decoration: none;
  font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
  font-weight: 600;
  text-align: right; // добавить это

  &--active {
    color: $main-color;
  }
}

.right-nav {
  z-index: 1000;
  max-width: 240px;
  @include flex($dir: column, $justify: flex-start, $gap: 1em, $align: flex-end);
  padding: 0.64em 1.2em 0 1.2em;
  position: fixed;
  @include themeSideBarBackground;
  top: 0;
  right: -70%;
  width: 70vw;
  height: 100dvh;
  visibility: hidden;

  transition:
    visibility 0.45s linear,
    right 0.45s ease-out;
  box-shadow: 2px 0px 10px 7px rgba(0, 0, 0, 0.5);

  @include mediaMin($size: $device-M) {
    display: none;
  }

  &--active {
    visibility: visible;
    right: 0;
  }
}

.dropDown {
  @include themeSideBarBackground;
  z-index: 1000;
  max-width: 240px;
  @include flex($dir: column, $justify: flex-start, $gap: 1em, $align: flex-end);
  padding: 0.64em 1.2em 1.2em 1.2em;
  position: absolute;
  top: 70px;
  right: -90px;
  width: 70vw;
  // box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);

  .avatar {
    @include flex($gap: 1.2em);

    &__name {
      color: $main-color;
      font-size: clamp(1.143rem, 0.494vw + 0.662rem, 1.714rem);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  button {
    cursor: pointer;
  }

  & span {
    display: inline !important;
  }
}

.signin-link {
  display: block;
  border: 1px solid #7a5af8;
  color: #7a5af8;
  border-radius: 3.1em;
  padding: 0.7em 1.75em;
  text-decoration: none;
  font-size: clamp(0.571rem, 0.75vw + 0.4rem, 1.429rem);
  font-weight: 500;
  line-height: 10px;

  @include mediaMin($size: $device-M) {
    display: none;
  }
}

.signin-btn {
  background: transparent;
  display: none;
  border: 1px solid #7a5af8;
  color: #7a5af8;
  border-radius: 3rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  @include mediaMin($size: $device-M) {
    display: block;
  }
}

.avatar {
  display: none;

  @include mediaMax($size: $device-M) {
    @include flex($gap: 1.2em);

    &__name {
      color: $main-color;
      font-size: 0.86rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.auth-btn {
  padding: 0;
  justify-self: start;
  color: #e54545;
  background: transparent;
  border: none;
  font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
  font-weight: 600;
  line-height: 29px;
}

.right-menu-btn {
  background: transparent;
  border: none;
  position: relative;
}

.line {
  @include themeSideBarLine;
  display: inline-block;
  width: 100%;
  height: 2px;

  @include mediaMin($device-M) {
    display: none;
  }
}

.logo-mobile {
  margin-right: 20px;
  @include mediaMin($device-M) {
    display: none;
  }
}

.theme-switch {
  @include mediaMax($device-L) {
    // чтобы скрыть на мобилке приходится повышать специфичность
    display: none !important;
  }
}

.theme-switch-mobile {
  @include mediaMin($device-L) {
    display: none !important;
  }
}

.btn-container {
  @include flex($gap: 3.14em);
}

.logo-header {
  margin-right: 50px;
  @include mediaMax($device-L) {
    display: none;
    margin-right: 0;
  }
}

.close-sidebar {
  @include mediaMin($device-M) {
    display: none;
  }

  font-weight: 600;
  font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
  line-height: 15px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #7a5af8;
}

.arrow {
  margin-right: 0.3em;
}

.search {
  @include mediaMax($size: $device-M) {
    display: none;
  }
  width: 30px;
  cursor: pointer;
  :hover {
    transform: scale(1.1);
  }
  &__mobile {
    @include mediaMin($size: $device-M) {
      display: none;
      width: 10px;
    }
    &--view {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
}
