@use '../../styles/global' as *;

.slider {
  overflow-x: visible !important;
}

.image-section {
  @include themeSectionBackground;
  margin-bottom: 1.1em;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  overflow: hidden;
  @include flex($wrap: nowrap, $gap: 0.4em);

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    padding-top: 5.3em;
    gap: 1.75em;
    padding-bottom: 5.4em;
    padding-left: clamp(5em, 12.587vw - 1.905em, 15.357em);
    padding-right: clamp(5em, 2.691vw + 3.524em, 7.214em);
  }
}

.image-container {
  @include flex($justify: space-between);
  padding-top: 4.5em;

  @include mediaMin($size: $device-M) {
    padding-top: 15.2em;
    align-self: flex-start;
  }

  &__text-container {
    @include flex($align: center, $dir: column);

    @include mediaMin($size: $device-M) {
      align-items: flex-start;
    }
  }

  &__slogan {
    @include themeText;
    font-size: clamp(1.43rem, 1rem + 1.6vw, 3.42rem);
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.2em;
    text-align: center;

    @include mediaMin($size: $device-M) {
      text-align: start;
      max-width: 527px;
      margin-bottom: 0.4em;
    }
  }

  &__text {
    @include themeText;
    text-align: center;
    font-size: clamp(0.86rem, 0.685rem + 0.75vw, 1.71rem);
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0.7em;
    text-wrap: balance;

    @include mediaMin($size: $device-M) {
      text-align: start;
      margin-bottom: 1.7em;
    }
  }

  &__btn {
    @include mediaMin($size: $device-M) {
      margin: 0 0;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(73px, 1fr) minmax(72px, 1fr) repeat(1, minmax(40px, 1fr));
  gap: 0.2em;
  width: 100%;
  padding: 10px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  @include mediaMin($device-M) {
    display: none;
  }

  &__item {
    min-height: 32px;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 15px;
    max-width: 100%;
  }

  &__item:nth-child(1) {
    width: 70%;
    justify-self: center;
    height: 80px;
    grid-column: span 2;
    min-width: 72px;
  }

  &__item:nth-child(2) {
    min-width: 80px;
    max-height: 80px;
  }

  &__item:nth-child(3) {
    min-width: 80px;
    max-height: 80px;
  }

  &__item:nth-child(4) {
    width: 70%;
    justify-self: center;
    height: 80px;
    grid-column: span 2;
    min-width: 72px;
  }
}

.cards__item--left {
  object-position: 100%;
}

.cards__item--right {
  object-position: 10%;
}

.cards-pc {
  display: none;

  grid-template-columns: 0.5fr 0.5fr 0.8fr 0.5fr 1fr;
  grid-template-rows: minmax(190px, 1.1fr) 1fr 0.9fr;
  align-items: end;
  gap: 0.71em;
  width: 100%;

  @include mediaMin($device-M) {
    display: grid;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  &__item {
    min-height: 128px;
    min-width: 120px;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 15px;
    max-width: 100%;
  }

  &__item:nth-child(1) {
    justify-self: end;
    max-width: 159px;
    height: 128px;
    width: 100%;
  }

  &__item:nth-child(2) {
    justify-self: end;
    max-width: 186px;
    height: 190px;
    width: 100%;
  }

  &__item:nth-child(3) {
    position: relative;
    top: 55px;
    grid-column: 3/5;
    max-width: 507px;
    height: 247px;
    width: 100%;
    grid-row: 1;
  }

  &__item:nth-child(4) {
    position: relative;
    top: 55px;
    max-width: 156px;
    height: 128px;
    width: 100%;
  }

  &__item:nth-child(5) {
    align-self: start;
    grid-row: 2/4;
    justify-self: end;
    grid-column: span 2;
    max-width: 305px;
    height: 412px;
    width: 85%;
  }
}

.cards-subgrid {
  position: relative;
  top: 55px;
  grid-column: span 4;
  grid-row: 2;
  @include flex($gap: 10px, $justify: flex-start);

  &__item {
    background-color: #e8e8e8;
    border-radius: 15px;
    min-height: 128px;
  }

  &__item:nth-child(1) {
    flex: 1 0 120px;
    max-width: 151px;
    height: 243px;
    width: 100%;
  }

  &__item:nth-child(2) {
    flex: 1 0 130px;
    max-width: 507px;
    height: 243px;
    width: 100%;
  }
}

.cards-subgrid-bottom {
  position: relative;
  top: 55px;
  align-self: start;
  grid-column: span 4;
  grid-row: 3;
  @include flex($gap: 10px, $justify: flex-start);

  &__item {
    background-color: #e8e8e8;
    border-radius: 15px;
    min-height: 128px;
  }

  &__item:nth-child(1) {
    flex: 1 0 100px;
    align-self: start;
    grid-column: 3/4;
    grid-row: 3;
    max-width: 230px;
    height: 154px;
    width: 100%;
  }

  &__item:nth-child(2) {
    grid-column: 4/6;
    grid-row: 3;
    align-self: start;
    justify-self: start;
    max-width: 305px;
    height: 124px;
    width: 100%;
  }
}

.popular-section {
  margin-bottom: 1em;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    margin-left: 14.7em;
    margin-right: 14.7em;
  }

  @include mediaMax($device-M) {
  }
}

.popular-container {
  padding-top: 0.78em;
  padding-bottom: 1.43em;

  @include themeSectionBackground;

  &__link {
    margin: 0 0 0.9em;
  }

  @include mediaMin($device-M) {
    padding-left: 8em;
    padding-right: 3.6em;
    border-radius: 20px;
  }

  @include mediaMin($device-M) {
    padding-top: 2.2em;
    padding-bottom: 3.8em;
  }
}

.poppading {
  @include mediaMin($device-M) {
    margin-right: 25px;
  }
}

.popular-cards {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  & > * {
    scroll-snap-align: start;
  }

  @include flex($gap: 0.71em, $justify: flex-start);
}

.novelty-section {
  margin-bottom: 1em;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    margin-left: 14.7em;
    margin-right: 14.7em;
  }
}

.novelty-container {
  padding-top: 0.78em;
  padding-bottom: 1.43em;

  @include themeSectionBackground;

  &__link {
    margin: 0 0 0.9em;
  }

  @include mediaMin($device-M) {
    border-radius: 20px;
    padding-left: 8em;
    padding-right: 5.6em;
  }

  @include mediaMin($device-M) {
    padding-top: 2.2em;
    padding-bottom: 3.8em;
  }
}

.novelty-cards {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @include flex($gap: 0.71em, $justify: flex-start);

  & > * {
    scroll-snap-align: start;
  }
}

.cards-comics {
  width: clamp(6.429em, 5.114em + 5.75vw, 13em);
  height: clamp(8.214em, 6.729em + 6.2vw, 15.643em);

  margin-right: 25px;

  @include mediaMax($device-M) {
    margin-right: 0px;
  }
}

.genre-section {
  margin-bottom: 3em;

  @include mediaMin($device-M) {
    margin-bottom: 9.2em;
    padding: 0 clamp(5rem, 19.965vw - 5.952rem, 21.429rem);
  }
}

.genre-container {
  &__link {
    margin: 0 0 0.9em 1.1em;
  }
}

.genres {
  padding: 0.9375em;

  @include flex($gap: 0.72em, $justify: flex-start);

  @include mediaMin($device-L) {
    display: grid;
    gap: 2.14em;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  &__badge {
    @include mediaMin($device-L) {
      display: none !important;
    }
  }

  &__card {
    display: none;
    border-radius: 15px;
    background-color: transparent;
    height: 200px;
    @include mediaMin($device-L) {
      display: inline;
      width: max-content;
      box-shadow: var(--animated-box-shadow-init);
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }

    & {
      animation: float 2s ease-in-out infinite;
    }

    &:hover {
      animation: none;
      box-shadow: var(--animated-box-shadow-animation);
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }
    }
  }

  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.slider-container {
  overflow: hidden;

  &__link {
    margin-bottom: 0.9em;

    @include mediaMin($device-M) {
      margin-bottom: 2em;
    }
  }
}

.cards-comics {
  width: clamp(6.429em, 5.114em + 5.75vw, 13em);
  height: clamp(8.214em, 6.729em + 6.2vw, 15.643em);
  margin-right: 20px;
}

.evidence {
  margin-top: 2.5em;
}

.co-author-section {
  margin-bottom: 0.72em;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    margin-left: 14.7em;
    margin-right: 14.7em;
  }

  @include mediaMax($device-M) {
    min-width: 280px;
  }
}

.co-author {
  &__container {
    @include mediaMin($device-M) {
      padding: 0.8em 3.7em;
      border-radius: 20px;
    }

    @include mediaMax($device-M) {
      padding: 0.8em 0 0.8em 0;
    }

    @include themeSectionBackground;

    @include flex($dir: column, $gap: 0.71em);

    @include mediaMin($device-M) {
      @include flex($dir: row, $justify: space-between);
    }
  }

  &__text {
    @include mediaMin($device-M) {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 15px;
      @include themeText;
    }

    @include mediaMax($device-M) {
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 15px;
      @include themeText;
    }
  }

  &__idea {
    color: $primary-color;
  }

  &__link {
    display: block;

    font-size: clamp(0.58rem, 0.4rem + 0.75vw, 1.42rem);
    font-weight: 500;
    line-height: 11px;
    text-align: center;
    width: max-content;
    padding: 0.7em 2em;
    min-width: 110px;
    text-decoration: none;
    background: $primary-color;
    border: 1px solid transparent;
    border-radius: 562px;
    color: white;
  }
}

.co-evidence-section {
  margin-bottom: 0.72em;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    margin-left: 14.7em;
    margin-right: 14.7em;
  }

  @include mediaMax($device-M) {
    min-width: 280px;
    display: none;
  }
}
