@use '../../styles/global' as *;

.achievements {
  padding: 20px 0em;

  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.64em;
  }

  &__backlink {
    cursor: pointer;
  }

  &__counter {
    font-size: 0.86rem;
    color: #7a5af8;
    font-weight: 600;
  }

  &__section {
    @include themeBadge;
    border-radius: 10px;
    padding: 1.64em 0.4645em 2em;
  }

  &__title {
    font-size: 1.43rem;
    font-weight: 600;
    text-align: center;
    @include themeText;
    margin-bottom: 1.3em;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 600;
    @include themeText;
    margin-bottom: 1.42em;
    @include mediaMax($device-XL) {
      text-align: center;
    }
    padding: 0px 1.02em;
    &--author {
      margin-top: 2.5em;
    }
  }

  &__cards-container {
    display: grid;
    padding: 0px 1.02em;
    grid-template-columns: repeat(auto-fill, minmax(5.62em, 1fr));
    gap: 1.46em;
    align-items: center;
    justify-items: center;
  }
}
