@use '../../../styles/global' as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; // Выравнивание по левому краю

  @include mediaMin($device-XXL) {
    gap: 44px;
  }
}

.card {
  width: 300px;
  flex-shrink: 0;

  @include mediaMin($device-XXL) {
    width: 350px;
  }
}
