@use '../../../styles/global' as *;

.add-comics {
  @include themeText;
  &__link {
    margin-bottom: 0.65em;
  }

  &__head {
    font-weight: 600;
    font-size: 1.42rem;
    line-height: 24px;
    margin-bottom: 1.2em;
    @include themeText;
  }

  &__final {
    font-weight: 600;
    font-size: 1.42rem;
    line-height: 24px;
    width: max-content;
    margin: 0 auto 1.2em;
    @include themeText;
  }

  &__content {
    padding: 1.28em 0.72em 1.5em;
    border-radius: 10px;
    @include themeSectionBackground;
  }
}
