@use '../../styles/global' as *;

.blog {
  overflow: hidden;

  &__header {
    margin-bottom: 2em;
    @include flex($gap: 0.8em);
    @include themeSectionBackground;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 15px 10px;
    gap: 10px;

    @include mediaMax($device-M) {
      display: none;
    }
  }

  &__header--mobile {
    @include mediaMin($device-M) {
      display: none;
    }

    margin-bottom: 2em;
    @include flex($gap: 0.8em);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 15px 10px;
    gap: 5px;
  }

  &__header-text {
    @include themeText;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: normal;

    span {
      color: #7a5af8;
    }
  }

  &__header-link {
    min-width: 140px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 0.5em 1.3em;
    background: $main-color;
    color: white;
    border-radius: 249px;
  }

  &__link {
    margin-bottom: 0.9em;
  }

  &__container {
    padding-top: 1em;

    @include mediaMin($device-M) {
      padding-top: 4em;
    }
  }

  &__search--pc {
    width: 100%;
    @include themeSectionBackground;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 14px;

    @include mediaMax($device-M) {
      display: none;
    }
  }

  &__search--mobile {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0;

    @include mediaMin($device-M) {
      display: none;
    }
  }

  &__search-label {
    display: block;
    position: relative;
    width: 100%;

    &::before {
      content: url('../../assets/search.svg');
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
      color: #8a8a8a;
      position: absolute;
    }
  }

  &__search-field {
    display: block;
    border: none;
    border-radius: 526px;
    width: 100%;
    height: 35px;
    padding: 0.3em 2.8em;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: 15px;

    @include themeInputBackground;
    @include themeInputPlaceholder;
    @include focus($outline: 1px solid #8a8a8a);

    &::placeholder {
      @include themeInputPlaceholder;
      font-size: 0.86rem;
      font-weight: 600;
      line-height: 15px;
    }
  }

  &__filter {
    margin-bottom: 1em;
  }
}

.container {
  padding-left: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
  padding-right: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);

  @include mediaMax($device-M) {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}

.articles {
  @include flex($gap: 1em);
  @include themeText;
  overflow-y: auto;
  justify-content: flex-start;
  width: 100%;

  /* Прозрачный скроллбар*/
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;

  &__item {
    width: 100%;
    border-radius: 10px;
    padding: 1.1em 1.5em 0.8em 1.1em;
    @include themeSectionBackground;

    @include mediaMax($device-M) {
      margin-left: auto;
      padding: 10px;
      min-width: 50%;
    }
  }

  &__item-card {
    border-radius: 10px;
    padding: 1.1em 1.5em 0.8em 1.1em;
    @include themeSectionBackground;
    width: 100%;

    @include mediaMax($device-M) {
      margin-left: auto;
      padding: 10px;
      min-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__header {
    align-self: flex-start;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 0.3em;
    @include themeText;
  }

  &__short {
    align-self: flex-start;
    font-size: 0.68rem;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 3em;
    @include themeText;
  }

  &__link {
    text-align: center;
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    border: 0.89px solid #7a5af8;
    color: $primary-color;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 10px;
  }

  &__img {
    width: 100%;
    height: 120px;
    display: block;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-bottom: 25px;

    @include mediaMax($device-M) {
      display: none;
    }
  }
}

.blog-articles {
  margin-bottom: 2.5em;
}

.container-filter {
  width: 100%;

  @include mediaMax($device-M) {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

.articles-card {
  display: grid;

  @include mediaMax($device-M) {
    grid-template-columns: repeat(2, 1fr);
  }

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  width: 100%;

  @include mediaMax($device-M) {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}

.articles-filter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 24%;
  @include themeSectionBackground;
  border-radius: 10px;
  padding: 10px 20px;

  @include mediaMax($device-M) {
    order: 1;
    padding: 0;
    width: 100%;
    background-color: transparent;
  }
}

.container-articles {
  display: flex;

  @include mediaMax($device-M) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  gap: 1em;
  padding-left: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
  padding-right: clamp(5rem, 12.587vw - 1.905rem, 15.357rem);
}

.filter-section {
  margin-bottom: 3em;
}

.image-section {
  @include themeSectionBackground;
  margin-bottom: 1.1em;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  overflow: hidden;
  @include flex($wrap: nowrap, $gap: 0.4em);

  /* Исправленные свойства фона */
  background-size: cover; // вместо contain
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; // опционально, для параллакс эффекта
  min-height: 400px; // минимальная высота секции
  @include themeBackgroundBlogSrc;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
    padding-top: 5.3em;
    gap: 1.75em;
    padding-bottom: 5.4em;
    padding-left: clamp(5em, 12.587vw - 1.905em, 15.357em);
    padding-right: clamp(5em, 2.691vw + 3.524em, 7.214em);
    min-height: 600px; // увеличенная высота для десктопа
  }

  // Для очень больших экранов
  @include mediaMin($device-L) {
    background-size: 100% auto; // или cover в зависимости от нужного эффекта
  }
}

.image-container {
  @include flex($justify: space-between);
  padding-top: 4.5em;

  @include mediaMin($size: $device-M) {
    padding-top: 15.2em;
    align-self: flex-start;
  }

  &__text-container {
    @include flex($align: center, $dir: column);

    @include mediaMin($size: $device-M) {
      align-items: flex-start;
    }

    font-weight: 500;
  }

  &__slogan {
    color: white;
    font-size: clamp(1.43rem, 1rem + 1.6vw, 3.42rem);
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.2em;
    text-align: center;

    @include mediaMin($size: $device-M) {
      text-align: start;
      max-width: 527px;
      margin-bottom: 0.4em;
    }
  }

  &__text {
    color: white;
    text-align: center;
    font-size: clamp(0.86rem, 0.685rem + 0.75vw, 1.71rem);
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0.7em;
    text-wrap: balance;

    span {
      color: #7a5af8;
    }

    @include mediaMin($size: $device-M) {
      text-align: start;
      margin-bottom: 1.7em;
    }
  }

  &__btn {
    margin-left: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(73px, 1fr) minmax(72px, 1fr) repeat(1, minmax(40px, 1fr));
  gap: 0.2em;
  width: 100%;
  padding: 10px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  @include mediaMin($device-M) {
    display: none;
  }

  &__item {
    min-height: 32px;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 15px;
    max-width: 100%;
  }

  &__item:nth-child(1) {
    width: 70%;
    justify-self: center;
    height: 80px;
    grid-column: span 2;
    min-width: 72px;
  }

  &__item:nth-child(2) {
    min-width: 80px;
    max-height: 80px;
  }

  &__item:nth-child(3) {
    min-width: 80px;
    max-height: 80px;
  }

  &__item:nth-child(4) {
    width: 70%;
    justify-self: center;
    height: 80px;
    grid-column: span 2;
    min-width: 72px;
  }
}

.cards__item--left {
  object-position: 100%;
}

.cards__item--right {
  object-position: 10%;
}

.cards-pc {
  display: none;

  grid-template-columns: 0.5fr 0.5fr 0.8fr 0.5fr 1fr;
  grid-template-rows: minmax(190px, 1.1fr) 1fr 0.9fr;
  align-items: end;
  gap: 0.71em;
  width: 100%;

  @include mediaMin($device-M) {
    display: grid;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  &__item {
    min-height: 128px;
    min-width: 120px;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 15px;
    max-width: 100%;
  }

  &__item:nth-child(1) {
    justify-self: end;
    max-width: 159px;
    height: 128px;
    width: 100%;
  }

  &__item:nth-child(2) {
    justify-self: end;
    max-width: 186px;
    height: 190px;
    width: 100%;
  }

  &__item:nth-child(3) {
    position: relative;
    top: 55px;
    grid-column: 3/5;
    max-width: 507px;
    height: 247px;
    width: 100%;
    grid-row: 1;
  }

  &__item:nth-child(4) {
    position: relative;
    top: 55px;
    max-width: 156px;
    height: 128px;
    width: 100%;
  }

  &__item:nth-child(5) {
    align-self: start;
    grid-row: 2/4;
    justify-self: end;
    grid-column: span 2;
    max-width: 305px;
    height: 412px;
    width: 85%;
  }
}

.cards-subgrid {
  position: relative;
  top: 55px;
  grid-column: span 4;
  grid-row: 2;
  @include flex($gap: 10px, $justify: flex-start);

  &__item {
    background-color: #e8e8e8;
    border-radius: 15px;
    min-height: 128px;
  }

  &__item:nth-child(1) {
    flex: 1 0 120px;
    max-width: 151px;
    height: 243px;
    width: 100%;
  }

  &__item:nth-child(2) {
    flex: 1 0 130px;
    max-width: 507px;
    height: 243px;
    width: 100%;
  }
}

.cards-subgrid-bottom {
  position: relative;
  top: 55px;
  align-self: start;
  grid-column: span 4;
  grid-row: 3;
  @include flex($gap: 10px, $justify: flex-start);

  &__item {
    background-color: #e8e8e8;
    border-radius: 15px;
    min-height: 128px;
  }

  &__item:nth-child(1) {
    flex: 1 0 100px;
    align-self: start;
    grid-column: 3/4;
    grid-row: 3;
    max-width: 230px;
    height: 154px;
    width: 100%;
  }

  &__item:nth-child(2) {
    grid-column: 4/6;
    grid-row: 3;
    align-self: start;
    justify-self: start;
    max-width: 305px;
    height: 124px;
    width: 100%;
  }
}

.active-filters {
  display: none;

  @include mediaMin($device-M) {
    display: flex !important;
    overflow: visible;
    flex-wrap: wrap;
  }
}
