@use '../../styles/global' as *;

.balance {
  margin-bottom: 1em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  @include themeSectionBackground;
  border-radius: 20px;
  font-weight: 600;
  @include themeText;

  @include mediaMin($device-M) {
    margin-bottom: 3.5em;
  }

  &__backLink-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__backLink {
    align-self: flex-start;
    margin-bottom: 0.8em;
  }

  &__backLink-count-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
  }

  &__backLink-count {
    font-size: 0.86rem;
    color: $main-color;
    font-weight: 600;
    line-height: 15px;
    margin-right: 5px;
  }

  &__backLink-count-icon {
    width: 7px;
    height: 7px;
  }

  &__count {
    font-size: 1.5rem;
    color: $main-color;
    margin-right: 5px;
  }

  &__count-icon {
    width: 13px;
    height: 13px;
  }

  &__count-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  &__h1 {
    text-align: center;
    font-size: 1.6rem;
  }

  &__h3 {
    text-align: center;
    font-size: 1.06rem;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  &__history-title {
    font-size: 0.86rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
