@use '../../../styles/global' as *;

.clickable {
  @include clickableElement;
}

.card {
  border: transparent 1px solid;
  border-radius: 10px;
  text-align: center;
  &__content {
    position: relative;
    margin-right: auto;
    border-radius: 10px;
    width: clamp(6.429em, 5.114em + 5.75vw, 13em);
    height: clamp(8.214em, 6.729em + 6.2vw, 15.643em);
    background: #e8e8e8;
    margin-bottom: 0.4em;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__text {
    @include themeText;
    font-weight: 500;
    line-height: normal;
    font-size: clamp(1rem, 0.92rem + 0.25vw, 1.28rem);
  }

  &__like {
    cursor: pointer;
    position: absolute;
    top: 7%;
    right: 6%;
    transition: all 0.3s;
    fill: white;
    transform: scale(1);
    width: clamp(1.071rem, 0.625vw + 0.929rem, 1.786rem);
    height: clamp(1.071rem, 0.625vw + 0.929rem, 1.786rem);

    & > path {
      fill: inherit;
      transition: all 0.2s;
    }

    &--liked {
      fill: red;
      animation: like 0.3s ease-in-out 1 forwards;

      @keyframes like {
        0% {
          transform: scale(0.5);
        }

        100% {
          transform: scale(1.3);
        }
      }
    }
  }
}

.card--moder {
  border: #ff8800 1px solid;
}

.card--edit {
  border: #e54545 1px solid;
}

.image-container {
  position: relative;
  display: inline-block;
  top: 7%;
  width: clamp(1rem, 1.5rem + 1vw, 3rem);

  &__image-new {
    display: block;
    width: 150%;
  }

  &__image-edit {
    display: block;
    width: 270%;

    @media (max-width: $device-M) {
      width: 300%;
    }
  }

  &__image-moder {
    display: block;
    width: 250%;

    @media (max-width: $device-M) {
      width: 280%;
    }
  }

  &__text-new {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: clamp(0.6rem, 0.7rem + 0.25vw, 1rem);
    font-weight: 600;
  }

  &__text-moder {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-25%, -50%);
    color: white;
    font-size: clamp(0.3rem, 0.5rem + 0.25vw, 0.7rem);
    font-weight: 600;
    white-space: nowrap;
  }

  &__text-edit {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-20%, -50%);
    color: white;
    font-size: clamp(0.4rem, 0.5rem + 0.25vw, 0.7rem);
    font-weight: 600;
  }
}
.card-link {
  text-decoration: none;
  display: block;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
