@use '../../../styles/global' as *;

.achievement-card {
  height: 8.5em;
  width: 5.65em;

  &__container {
    height: 6.15em;
    width: 5.65em;
    border-radius: 10px;
    padding: 11px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
  }

  &--active {
    border: 1px solid #7a5af8;
    border-radius: 10px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    @include themeText;
    cursor: pointer;
  }
}
