@use '../../styles/global' as *;

.registration {
  &__inner-container {
    border-radius: 10px;
    @include themeSectionBackground;
    @include flex($dir: column);
    padding-top: 1em;
    margin-bottom: 0.9em;
  }

  &__flex {
    @include flex($dir: column);
  }

  &__head {
    @include themeText;
    font-size: clamp(1.43rem, 0.5rem + 3.8vw, 3.72rem);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0.3em;

    @include mediaMin($size: $device-XM) {
      line-height: 59px;
    }
  }

  &__backLink {
    align-self: flex-start;
    margin-bottom: 0.9em;
  }

  &__logo {
    margin-bottom: 1em;

    @include mediaMin($size: $device-XM) {
      display: none;
    }
  }

  &__with-social {
    @include themeText;
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 1em;

    @include mediaMin($size: $device-XM) {
      font-size: 1.72rem;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 0.7em;
    }
  }

  &__social {
    margin-bottom: 0.86em;

    @include mediaMin($size: $device-XM) {
      margin-bottom: 2em;
    }
  }

  &__or {
    @include themeText;
    font-size: clamp(0.876rem, 0.7rem + 1.6vw, 2.15rem);
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0.8em;

    @include mediaMin($size: $device-XM) {
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 1.2em;
    }
  }

  &__fieldset {
    @include flex($dir: column, $align: flex-start);
  }

  &__fieldset-password {
    @include flex($dir: column, $align: flex-start);
  }

  &__input {
    @include focus($outline: 1px solid #807d7d);
    @include themeInput;
    border: none;
    border-radius: 2em;
    padding: 0.5em 2em;

    font-size: clamp(0.86rem, 1.9vw, 1.72rem);
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 1.5em;

    width: clamp(210px, 50vw, 510px);

    @include mediaMin($size: $device-XM) {
      padding: 0.8em 1.8em;
      font-weight: 500;
      line-height: 24px;
    }

    &::placeholder {
      @include themeInputPlaceholder;
      font-size: 0.86em;
      font-weight: 600;
      line-height: 15px;
      font-size: clamp(0.86rem, 1.9vw, 1.72rem);

      @include mediaMin($size: $device-XM) {
        font-weight: 500;
        line-height: 24px;
      }
    }

    &--marginNo {
      margin: 0;
    }

    &--error {
      background: #e545451a;
      color: #e54545;
    }

    &--success {
      background: #0f99181a;
      color: #0f9918;
    }
  }

  &__label {
    @include themeText;
    font-size: clamp(1rem, 1rem + 0.1vw, 2rem);
    margin-bottom: 0.4em;
    font-weight: 500;
    line-height: 17px;
    margin-left: auto;
    margin-right: auto;
    @include mediaMin($size: $device-XM) {
      line-height: 29px;

      font-size: clamp(1rem, 1rem + 1.1vw, 2.1rem);
    }
  }

  &__next {
    @include themeAuthButton;
    display: block;
    margin: 0 auto;
    border: 1px solid $main-color;
    border-radius: 2em;
    padding: 0.63em 2.5em;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 2.3em;

    &:disabled {
      background-color: #807d7d;
      border: 1px solid rgba($color: $main-color, $alpha: 0.3);
    }
  }
  &__timer-container {
    justify-items: center;
    text-align: center;
  }
  &__timer-text {
    @include themeText;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
    padding-bottom: 1em;
    &--button {
      @include themeText;
      text-decoration: underline;
      border: none;
      background-color: transparent;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    margin-bottom: 10px;
  }

  &__reset-email {
    display: block;
    background: $main-color;
    color: white;
    margin: 0 auto;
    border: 1px solid $main-color;
    border-radius: 2em;
    padding: 0.63em 2.5em;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 2.3em;
  }

  &__ready {
    display: block;
    background-color: $main-color;
    color: white;
    padding: 0.7em 1.6em;
    margin: 0 auto 2.4em;
    border-radius: 2em;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    border: none;
  }

  &__signin {
    @include themeText;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
  }

  &__link {
    color: $main-color;
    font-size: 0.79rem;
    font-weight: 500;
    line-height: 13px;
    text-decoration: none;
    text-align: center;
  }

  &__error {
    text-wrap: balance;
    max-width: 200px;
    margin: 0.4em 0;
    font-size: 1.1em;
    line-height: normal;
    color: red;
  }

  &__password-container {
    position: relative;
  }

  &__visibility {
    @include themeFooterIcons;
    position: absolute;
    top: 6px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
  }
}

.agreement {
  @include flex;
  @include themeText;
  margin-bottom: 0.5em;

  &__label {
    font-weight: 500;
    font-size: 0.8rem;
    text-wrap: balance;
  }
}
