@use '../../../styles/global' as *;

.tabs {
  &__scroller {
    position: relative;
  }

  &__active {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $main-color;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: left, width;
  }

  &__content {
    padding-bottom: 2.3em;
  }
}

.btns {
  @include flex($gap: 1.5em);
  margin-bottom: 0.1em;
  position: relative;

  &__item {
    padding: 0;
    border: none;
    background: transparent;
    @include themeTabText;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;

    &--active {
      color: $main-color;
    }

    @include mediaMin($device-XXL) {
      cursor: pointer;
      font-size: 1.43rem;
    }
  }

  @include mediaMin($device-XXL) {
    justify-content: start;
  }
}
